.container { 
  min-height:100vh;
  display:flex;
  font-family: Arial
}

.left { 
  min-height:25vh;
  background-color: rgb(50, 67, 151) ;
  width: 25%;
  color: white;
}
.right { 
  padding-left: 10px;
  min-height:75vh;
  width: 75%;
}



